@model LibraryApp.Models.ViewModels.BookLoanViewModel

@{
	ViewData["Title"] = "Book Loans";
	var isAdmin = User.IsInRole("Admin");
}

<h1>Book Loans</h1>

<form asp-controller="BookLoans" asp-action="Index">
	<div class="d-flex row">
		<div class="d-inline-flex col">
			<select class="w-50 form-select" asp-for="ReturningSwitch" asp-items="Model.Returning">
				<option value="1">All</option>
				<option value="2">Returned</option>
				<option value="3">Not Returned</option>
			</select>

			<div class="ms-2 input-group">
				<input class="form-control" type="text" asp-for="SearchString" />
				<input class="btn btn-primary" type="submit" value="Filter" />
			</div>
		</div>
		<div class="col">
		</div>
	</div>
</form>
<table class="mt-3 table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.BookLoans![0].Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BookLoans![0].Book!.ISBN)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BookLoans![0].Book!.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BookLoans![0].User!.Email)
			</th>
			<th>
				<a asp-action="Index"
				   asp-route-sortOrder="@ViewData["LoanDateSortParameter"]"
				   asp-route-searchString="@Model.SearchString"
				   asp-route-returningSwitch="@Model.Returning">
				@Html.DisplayNameFor(model => model.BookLoans![0].LoanDate)
				</a>
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BookLoans![0].DueDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BookLoans![0].ReturnDate)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.BookLoans!)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Book!.ISBN)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Book!.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.User!.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LoanDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DueDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ReturnDate)
				</td>
				<td>
					@if (isAdmin && item.ReturnDate == null)
					{
						<a class="btn btn-success" asp-action="MarkAsReturned" asp-route-id="@item.Id"><i class="bi bi-arrow-return-left"></i> Returned</a>
					}
				</td>
			</tr>
		}
	</tbody>
</table>

@if (Model.Pagination!.TotalPages > 1)
{
	<nav>
		<ul class="pagination justify-content-center">

			@if (Model.Pagination.HasPreviousPage)
			{
				<li class="page-item">
					<a class="page-link"
					   asp-action="Index"
					   asp-route-pageNumber="@(Model.Pagination.PageIndex - 1)"
					   asp-route-sortOrder="@ViewData["CurrentSort"]"
					   asp-route-searchString="@Model.SearchString"
					   asp-route-returningSwitch="@Model.Returning">
						Previous
					</a>
				</li>
			}
			else
			{
				<li class="page-item disabled">
					<span class="page-link">Previous</span>
				</li>
			}

			@for (int i = 1; i <= Model.Pagination.TotalPages; i++)
			{
				if (i == Model.Pagination.PageIndex)
				{
					<li class="page-item active">
						<span class="page-link">@i</span>
					</li>
				}
				else
				{
					<li class="page-item">
						<a class="page-link"
						   asp-action="Index"
						   asp-route-pageNumber="@i"
						   asp-route-sortOrder="@ViewData["CurrentSort"]"
						   asp-route-searchString="@Model.SearchString"
						   asp-route-returningSwitch="@Model.Returning">
							@i
						</a>
					</li>
				}
			}

			@if (Model.Pagination.HasNextPage)
			{
				<li class="page-item">
					<a class="page-link"
					   asp-action="Index"
					   asp-route-pageNumber="@(Model.Pagination.PageIndex + 1)"
					   asp-route-sortOrder="@ViewData["CurrentSort"]"
					   asp-route-searchString="@Model.SearchString"
					   asp-route-returningSwitch="@Model.Returning">
						Next
					</a>
				</li>
			}
			else
			{
				<li class="page-item disabled">
					<span class="page-link">Next</span>
				</li>
			}
		</ul>
	</nav>
}
