@model LibraryApp.Models.ViewModels.BookLoanViewModel

@{
	ViewData["Title"] = "Book Loans";
	var isAdmin = User.IsInRole("Admin");
}

<h1>Book Loans</h1>

<form asp-controller="BookLoans" asp-action="Index">
	<div class="d-flex row">
		<div class="d-inline-flex col">
			<select class="w-50 form-select" asp-for="ReturningSwitch" asp-items="Model.Returning">
				<option value="1">All</option>
				<option value="2">Returned</option>
				<option value="3">Not Returned</option>
			</select>

			<div class="ms-2 input-group">
				<input class="form-control" type="text" asp-for="SearchString" />
				<input class="btn btn-primary" type="submit" value="Filter" />
			</div>
		</div>
		<div class="col">
		</div>
	</div>
</form>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.BookLoans![0].Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BookLoans![0].Book!.ISBN)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BookLoans![0].Book!.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BookLoans![0].User!.Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BookLoans![0].LoanDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BookLoans![0].DueDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BookLoans![0].ReturnDate)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.BookLoans!)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Book!.ISBN)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Book!.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.User!.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LoanDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DueDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ReturnDate)
				</td>
				<td>
					@if (isAdmin && item.ReturnDate == null)
					{
						<a class="btn btn-success" asp-action="MarkAsReturned" asp-route-id="@item.Id"><i class="bi bi-arrow-return-left"></i> Returned</a>
					}
				</td>
			</tr>
		}
	</tbody>
</table>
